.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
}

.value {
  font-family: var(--font-family-heading);
  font-size: var(--text-h5);
  font-weight: var(--font-weight-medium);
  color: var(--foreground);
  line-height: normal;
}

.description {
  font-family: var(--font-family-body);
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  color: var(--border);
  line-height: normal;
}